/* fonts */
$primary-font: 'Didact Gothic', sans-serif !default;
$secondary-font: 'Playfair Display', serif !default;

/* colors */
$primary:rgba(42,169,186,1) !default;
$secondary: rgba(255,204,75,1) !default;
$tertiary:  rgba(145,10,10, 1) !default;


/* spacing */
$default-space-sm: 5px !default;
$default-space-md: 10px !default;
$default-space-lg: 15px !default;
$default-space-xl: 20px !default;
$default-space-xxl: 30px !default;
$extra-space: 50px !default;

/* break point */
$small-breakpoint: 414px;
$medium-breakpoint: 767px;
$large-breakpoint: 1024px;
