@import 'normalize';
@import 'variables';

.content, .photo {
  position: relative;
  width: 100%;
  float: none;
  transition: all .5s;

  @media (min-width: $medium-breakpoint) {
    width: 50%;
    float: left;
    height: 100vh;
  }
}

.content {
  padding: $default-space-xl $default-space-xl;
  text-align: center;
  transition: all .5s;

  @media (min-width: $large-breakpoint) {
    padding: $default-space-xl $extra-space;
  }

  .top {
    @media (min-width: $medium-breakpoint) {
      position: absolute;
      top: 3%;
      left: 50%;
      transform: translate3D(-50%, 0, 0);
    }
  }

  .center {
    @media (min-width: $medium-breakpoint) {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate3D(-50%, -50%, 0);
    }
  }

  .bottom {
    @media (min-width: $medium-breakpoint) {
      position: absolute;
      width: 100%;
      bottom: 3%;
      left: 50%;
      transform: translate3D(-50%, 0, 0);
    }

    .contact {
      img {
        display: inline-block;
        width: 30px;
        height: auto;
        margin: 0 $default-space-md;
      }
    }
  }

  .title, .subtitle, .collaborate {
    font-family: $secondary-font;
  }

  .title {
    margin-top: 0;
    font-size: 20px;
    transition: all .5s;

    @media (min-width: $medium-breakpoint) {
      font-size: 28px;
    }
  }

  .subtitle {
    margin: $default-space-lg;
    font-size: 32px;
    transition: all .5s;

    @media (min-width: $medium-breakpoint) {
      font-size: 40px;
    }
  }

  .collaborate {
      &:visited, &:active {
        color: #641B3A;
      }

      &:hover {
        color: darken(#641B3A, 10%);
        transition: color .5s;
      }
  }

  .text {
    font-family: $primary-font;
    font-size: 15px;
    transition: all .5s;

    @media (min-width: $medium-breakpoint) {
      font-size: 16px;
      margin: 10px 15px;
    }

    @media (min-width: $large-breakpoint) {
      font-size: 20px;
      margin: 20px 50px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .link {
    display: inline-block;
    margin: $default-space-lg $default-space-sm;
    text-decoration: none;
  }

}

.photo {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}