@import 'normalize';
@import 'variables';

.main-container {
  display: flex;
  height: auto;
  flex-direction: column;

  @media (min-width: $medium-breakpoint) {
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }
}

.content,
.image {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: $default-space-xl $default-space-xl;
  text-align: center;
  transition: all .5s;

  @media (min-width: $large-breakpoint) {
    padding: $default-space-xl $extra-space;
  }

  .bottom {
    .contact-link {
      position: relative;
      margin: $default-space-md;      
      height: 25px;
      width: 25px;

      .contact-img, .contact-img-hover {
        width: 100%;
        height: 100%;
      }

      .contact-img-hover {
        position: absolute; 
        top: 0;  
        left: 0;
        z-index: 1;
        display: none;
      }

      &:hover {
        .contact-img-hover {
          display: inline;
        }
      }
    }
  }

  .title, .subtitle, .collaborate {
    font-family: $secondary-font;
  }

  .title {
    margin-top: 0;
    font-size: 25px;
    transition: font-size $base-transition-time;

    @media (min-width: $large-breakpoint) {
      font-size: 30px;
    }
  }

  .subtitle {
    margin: $default-space-lg;
    font-size: calc(30px + (50-30)*(100vw - 400px)/(2500-400));
    transition: font-size $base-transition-time;
  }

  .text {
    font-family: $primary-font;
    font-size: calc(15px + (20-15)*(100vw - 400px)/(2500-400));
    transition: font-size $base-transition-time;
  }

  .link {
    display: inline-block;
    margin: $default-space-lg $default-space-sm;
    text-decoration: none;
    color: $link-color;

    &:hover, 
    &:focus,
    &:active,
    &:visited {
      color: darken($link-color, 10%);
      transition: color $base-transition-time;
    }
  }

}

.image {
  img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}